body{
    background: linear-gradient(187deg,#ff99ff,#cc33ff );
}
header {
    background-color:#666666;
    color: white;
    padding: 20px;
    text-align: center;
    border-style:double;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px; 
    border-top-left-radius: 20px;
    border-top-right-radius:20px; 
}
section{
  margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
}
input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid;
    border-color:#cc33ff;
    border-radius: 5px;
}
#buttons{
    width:50vw;
    background-color: chartreuse;
    margin-left:300px; 
}
#buttons:hover{
    background-color:#339900;
}


